body {
	margin: 0;	
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.25em;
	color: gray;
}

h3 {
	font-size: 1em;
	color: gray;
	text-transform: uppercase;	
}
ul {
	color: white;
	list-style-type: none;
	margin: 0;
}

nav li {
	display: inline-block;
	padding: 0.5em;
}

li {
	padding: 0.5em;
}

nav {
	padding-left: 2em;
	background-color: #072141;
	display: grid;
	grid-template-columns: auto 30em 10em;
}

a, a:visited {
	color: white;
	text-decoration: none;
}

.content {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 3em;
	margin: 5em 5em 5em 5em;
}

.houston-logo {
	width: 12em;
	padding: 0.75em;
}

.protolabs-logo {
	width: 12em;
	padding: 0.75em;
	background-color: #3686e9
}

.testimonial {
	display: grid;
	grid-template-columns: 66% auto;	
}

@media screen and (max-width: 1024px) {
	nav {
		display: grid;
		grid-template-columns: auto;
	}

	.content {
		display: grid;
		grid-template-columns: auto;
		padding-right: 1em;
		padding-left: 1em;
	}	
}


.hero {
	padding: 4em;
	background-image: linear-gradient(to right, #0d3d78, #1560bd, #0d3d78);
	color: white;
	text-align: center;
}

.contributors {
	margin-left: 5em;
	margin-right: 5em;
	padding-top: 5em;
	padding-bottom: 5em;
	border-top: 1px solid gray;
}

.contributor {
	display: inline-block;
	width: 49%;
	text-align: center;
}

.footer {
	display: grid;
	grid-template-columns: 40% auto;
	background-color: #072141;
	color: white;
	padding: 2em;
}