body {
	margin: 0;	
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 3em;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 26pt;
	line-height: 1,25
}

h2 {
	font-size: 1.25em;
	color: gray;
	font-family: 'Roboto Slab', serif;
}

.contributors h2 {
	color: white;
}

h3 {
	font-size: 1em;
	color: gray;
	text-transform: uppercase;	
}
ul {
	color: white;
	list-style-type: none;
	margin: 0;
}

nav li {
	display: inline-block;
	padding: 1em;
	font-weight: 700;
}

li {
	padding: 0.5em;
}

nav {
	padding-left: 2em;
	display: grid;
	grid-template-columns: 50% auto 10em;
	background-color: rgba(0,0,0,0.5);
}

nav img {
	max-width: 10em;
}

a, a:visited {
	color: white;
	text-decoration: none;
}

.content {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 3em;
	margin: 5em 5em 5em 5em;
}

.houston-logo {
	width: 12em;
	padding: 0.75em;
}

.protolabs-logo {
	width: 12em;
	padding: 0.75em;
}

.testimonial {
	display: grid;
	grid-template-columns: 50% auto;	
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: #f9f9f9;	
}

.denim_tag {
	position: fixed;
	left:1em;
	top:0em;
}

.denim-illustration {
	width: 100%;
}

.denim-illustration-container {
	padding: 3em;
}

@media screen and (max-width: 1024px) {
	nav {
		display: grid;
		grid-template-columns: auto;
	}

	.content {
		display: grid;
		grid-template-columns: auto;
		padding-right: 1em;
		padding-left: 1em;
	}	
}


.hero {
	padding: 0em 0em 4em 0em;
	background-image: url('./img/Header.png');
	color: white;
	text-align: center;
}

.hero h1 {
	padding-top: 2em;
}

.contributors {
	background-image: url('./img/Header.png');
	padding-top: 5em;
	padding-bottom: 16em;
	border-top: 1px solid gray;
}

.contributors h2 {
	text-align: center;
}

.contributor {
	display: inline-block;
	width: 49%;
	text-align: center;
}

.footer {
	display: none;
	grid-template-columns: 40% auto;
	background-color: #072141;
	color: white;
	padding: 2em;
}